@media (max-width: 1024px) {
  .container {
    max-width: 950px;
  }
  .nav-links {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  .nav-links.nav-open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(112, 112, 112, 0.8);
    backdrop-filter: blur(10px);
    z-index: 300;
    opacity: 1;
    visibility: visible;
  }
  .mobile-nav-icon {
    display: block;
    background: transparent;
    height: 3.5rem;
    width: 3.5rem;
    color: #fff;
    z-index: 301;
  }
  .video-content {
    gap: 2rem;
  }
  .video-youtube iframe {
    width: 100%;
  }
  .faq-container,
  .venue-container,
  .contact-container {
    max-width: 80rem;
  }
  .program-container {
    width: 70rem;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }
  .section-title {
    font-size: 2.8rem;
    font-weight: 600;
  }
  .hero {
    height: 70vh;
  }
  .overview-content {
    gap: 2rem;
  }
  .video-content {
    display: block;
    width: 85%;
  }
  .video-text {
    margin-bottom: 5rem;
  }
  .speaker-details {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
  .faq-container {
    max-width: 75%;
  }
  .venue-container {
    max-width: 80%;
  }
  .contact-content {
    width: 100%;
  }
  .contact-form {
    padding: 3rem 2rem;
  }
  .sponsors-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
  }
  .nav {
    height: 6rem;
    padding: 0 2rem;
  }
  .hidden {
    display: none;
  }
  .hero {
    height: 100vh;
  }
  .hero-content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .overview-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .detail-contents {
    grid-template-columns: repeat(1, 1fr);
  }
  .video-content {
    width: 100%;
  }
  .speaker-details {
    grid-template-columns: repeat(1, 1fr);
  }
  .program-container {
    width: 100%;
  }
  .program-details {
    display: block;
  }
  .program-details img {
    margin-bottom: 3rem;
  }
  .register-content {
    grid-template-columns: 1fr;
  }
  .register-text {
    margin-right: 0rem;
    margin-bottom: 5rem;
  }
  .faq-container {
    max-width: 100%;
  }
  .venue-container {
    max-width: 100%;
    margin: 0 2rem;
  }
  .venue-desc {
    width: 100%;
  }
  .sponsors-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-content {
    display: block;
  }
  .contact-text {
    margin-bottom: 3rem;
  }
}
